body {
	width: 640px;
	font-size: 110%;
}

/* FIX MENU */

#nav {
	border-bottom: 3px solid #8F8F8F;
	margin-bottom: 10px;
}

#nav, #nav > li {
	height: auto;
	margin-left: 0px;
}

#nav > li, #nav > li:hover, #nav > li.active {
	float: none;
	clear: both;
	position: relative;
	background-image: none;
	background-color: #ffffff;
	color: #000000;
}

#nav ul {
	font-size: 70%;
	display: block;
	position: static;
	clear: both;
	margin-top: 15px;
}